<div class="grid_6">
	
	<div class="chunkybox">
		<p id="notice"><%= notice %></p>

		<h2>All of <%= @user.username %>'s reviews</h2>
		<p>
		  <b>Reviews:</b>
			<!-- <p><%= @user.reviews.count %></p> -->
			<% @user.reviews.each do |review| %>
				<div><%= link_to review.place.name, review_path(review) %>
					<%= "*" * review.rating %>(<%= review.rating %>)</div>
			<% end  %>
		</p>
		<br/>
		<h3>User details</h3>
		<p>
		  <b>Username:</b>
		  <%= @user.username %>

		  <b>Email:</b>
		  <!-- <%= @user.email %>      -->
		  <%= mail_to @user.email %>  
		</p>





		<!-- 


		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %> -->
	</div>
</div>
