.grid_9
  .chunkybox
    %h2
      = image_tag "icons/search.png", :title => "search results"
      Search results
    - @results.each do |result|
      %div{:style => 'text-decoration: none'}
        = link_to (image_tag "icons/plus_sm.png", :title => "plus"), "/reviews/new/#{result[0]}"
        = link_to "New review for #{result[1]}", "/reviews/new/#{result[0]}"

    = @message

/ TODO: Figure out whether random sites is a good idea...
.grid_3
  .chunkybox
    %h2 Or can you add a review for a site no-one's visited?
    Like
    %strong 
      Timbuktu National Park
    or
    %strong Less Well-known Place