<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :wildness %><br />
    <%= f.text_field :wildness %>
  </div>
  <div class="field">
    <%= f.label :management %><br />
    <%= f.text_field :management %>
  </div>
  <div class="field">
    <%= f.label :review_text %><br />
    <%= f.text_field :review_text %>
  </div>
  <div class="field">
    <%= f.label :contact_details %><br />
    <%= f.text_field :contact_details %>
  </div>
  <div class="field">
    <%= f.label :review_value %><br />
    <%= f.text_field :review_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
