<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Your review" %><br />
	<%= f.text_area :review_text, :class => 'review', :size=> '40x6' %>
  </div>                                                                 

<table>
<tr>
	<td><b>Overall rating 1-5 stars</b></td>
	<td><b>Wildness 1-5 stars</b></td>
	<td><b>Management 1-5 stars</b></td>
</tr>
<tr>
	<td><%= f.text_field :rating, :size => '3' %></td>
  	<td><%= f.text_field :wildness, :size => '3' %></td>
  	<td><%= f.text_field :management, :size => '3' %></td>
</tr>
</table>
<br/>

  <div class="field">
    <%= f.hidden_field :user_id, :value => @review.user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :place_id, :value => @review.place_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
