<div class="grid_6"> 
	<div class="chunkybox">  
		
		<p id="notice"><%= notice %></p>

        <h2>
			<%= image_tag "icons/single.png", :title => "single" %>
			<%= link_to "Review of #{@review.place.name}", place_reviews_path(@review.place.id) %>
		</h2>

		<div class="grid_12">
			<div class="grid_4 right_border">
				<div>Rating <%= render_stars(@review.rating) %></div>
				<div>Wildness <%= render_stars(@review.wildness) %></div>
				<div>Management <%= render_stars(@review.management) %></div>
			</div>
			<div class="grid_8 review">
				<%= @review.review_text %> 
				<br/>
				<p> <em>Review by
				  <%= link_to @review.user.username, user_path(@review.user_id) %></em>
					<!-- <%= link_to @review.user_id, user_path(@review.user_id) %> -->
				</p>
				
			</div>
		</div>


		<%= image_tag "icons/plus_sm.png", :title => "title", :class => "class" %>
		<em><%= link_to "Add new review for this site", "/reviews/new/#{@review.place.wdpa_id}" %><br/></em>
		
		
		<%= image_tag "icons/pile_sm.png" %>
		<em><%= link_to "Back to reviews for #{@review.place.name}", "/places/#{@review.place.id}/place_reviews" %></em>
	</div>

		<div class="chunkybox">
			<h2>
				<%= image_tag "icons/pic.png", :title => "picture" %>
				Content linked to this review
			</h2>
			<div>
				<%= pluralize(@review.richcontents.count, "piece") %> of rich content associated with this review
			</div>

			<% @review.richcontents.each do |piece| %>
				<div>
					<em><%= piece.content_name %></em> [<%= link_to 'Link', "http://#{piece.content_url}" %>]
				</div>
			<% end %> 
			
			<%= image_tag "icons/pic_sm.png", :title => "title", :class => "class" %>
			<%= link_to "Add new content", "/richcontents/new/#{@review.id}" %>


	</div>
</div>

<div class="grid_6">
	<%= render 'places/map' %>	
</div>