<div class="grid_6"> 
	<div class="chunkybox">  
		
		<p id="notice"><%= notice %></p>

        <h2><%= link_to "Review of #{@review.place.name}", all_reviews_path(@review.place.wdpa_id) %></h2>
		<!-- <p>
		  <b>Place_id:</b>
		  <%= @review.place_id %>
		</p> -->
		<table border = "1" width = '50%'>
		<tr>
			<td><b>Rating:</b></td>
			<td><b>Wildness:</b></td>
			<td><b>Management:</b></td>
		</tr>
		<tr>
			<td><%= "*" * @review.rating %> (<%= @review.rating %>)</td>
		  	<td><%= "*" * @review.wildness %>(<%= @review.wildness %>)</td>
		  	<td><%= "*" * @review.management %>(<%= @review.management %>)</td>
		</tr>
		</table>
		<p>
		  <b>Review text:</b>
		  <%= @review.review_text %>
		</p>

		<!-- <p>
		  <b>Contact details:</b>
		  <%= @review.contact_details %>
		</p> -->

		<p> <em>Review by
		  <%= link_to @review.user.username, user_path(@review.user_id) %></em>
			<!-- <%= link_to @review.user_id, user_path(@review.user_id) %> -->
		</p>



		<!-- <p>
		  <em>Review value:</em>
		  <%= @review.review_value %>
		</p> -->

		<%= link_to 'Back to list site reviews', "/places/#{@review.place.wdpa_id}/all_reviews" %>

		<!-- <%= link_to 'Edit', edit_review_path(@review) %> |
		<%= link_to 'Back', reviews_path %> -->

		<%= render 'richcontent/show' %>

	</div>
</div>