<h2>Here are the reviews for <em><%= @reviews.first.place.name %></em></h2>
<% @reviews.each do |review| %>
	<div>
		<%= link_to review.review_text, review %>
		<%= "*" * review.rating %>
		(by <%= link_to review.user.username, user_path(review.user) %>)
	</div>
<% end %>
<br/>
<%= link_to "Add new review", "/reviews/new/#{@reviews.first.place.wdpa_id}" %>