<div class="grid_6">  
	<div class="chunkybox">
		<h2>Here are the reviews for <em><%= @reviews.first.place.name %></em></h2>
		<% @reviews.each do |review| %>
			<div>
				<%= link_to review.review_text, review %>
				<%= "*" * review.rating %>
				(by <%= link_to review.user.username, user_path(review.user) %>)
			</div>
		<% end %>
		<br/>
		<%= link_to "Add new review for this site", "/reviews/new/#{@reviews.first.place.wdpa_id}" %><br/>
		<%= link_to "Open in ProtectedPlanet", "http://protectedplanet.net/sites/#{@reviews.first.place.wdpa_id}" %>
	</div>
</div>

<div class="grid_6">
	<div class="chunkybox">
		<h2>Here's a nifty map - might have to zoom!</h2>

		<div id = 'map_canvas' >
	
		</div>
    </div>
	<script type="text/javascript">
	function initialize() {
	  // var myLatLng = new google.maps.LatLng(24.886436490787712, -70.2685546875);
	  var myLatLng = new google.maps.LatLng(<%= @poly_centre %>);
	  var myOptions = {
	    zoom: 7,
	    center: myLatLng,
	    mapTypeId: google.maps.MapTypeId.TERRAIN
	  };

	  var bermudaTriangle;

	  var map = new google.maps.Map(document.getElementById("map_canvas"),
	      myOptions);

		var paCoords = [
		<%= @poly_string %>
		]
	
	  protectedArea = new google.maps.Polygon({
	    paths: paCoords,
	    strokeColor: "#ffae3b",
	    strokeOpacity: 0.8,
	    strokeWeight: 2,
	    fillColor: "#ffae3b",
	    fillOpacity: 0.25
	  });

	  protectedArea.setMap(map);
	
	
		var tilelayer = new GTileLayer();
		tilelayer.getTileUrl = function() { return "../include/tile_crosshairs.png"; };
		tilelayer.isPng = function() { return true;};
		tilelayer.getOpacity = function() { return 1.0; }
		'http://184.73.201.235/orange/884/8/138/141'
	}
	</script>	
	
</div>