<div class="grid_6">  
	<div class="chunkybox">
		<h2>Here are the reviews for <em><%= @reviews.first.place.name %></em></h2>
		<% @reviews.each do |review| %>
			<div>
				<%= link_to review.review_text, review %>
				<%= "*" * review.rating %>
				(by <%= link_to review.user.username, user_path(review.user) %>)
			</div>
		<% end %>
		<br/>
		<em><%= link_to "Add new review for this site", "/reviews/new/#{@reviews.first.place.wdpa_id}" %><br/></em>
		<em><%= link_to "Open in ProtectedPlanet", "http://protectedplanet.net/sites/#{@reviews.first.place.wdpa_id}" %></em>
	</div>
</div>

<div class="grid_6">
	<%= render 'places/map' %>
</div>