<div class="grid_6">
	<div class="chunkybox">
		<div class='boxheader'>
	   		<h2><%= image_tag "icons/star_fill.png", :title => "star" %>
			Most popular places</h2>
		</div>
		<table>
			<% @places.each do |place| %>
			<tr>
				<td ><%= link_to place.name, "/places/#{place.id}/place_reviews" %></td>
				<td ><%= render_stars(place.avg_rating)%> (<%= place.review_count %>)</td>
				<!-- <td><%= "*" * place.avg_rating %><%= place.avg_rating %> (<%= place.review_count %>)</td> -->
			    <!-- <td><%= place.name %></td>
			    <td><%= place.wdpa_id %></td>
				<td><%= link_to 'Reviews', "/places/#{place.id}/place_reviews" %></td>
			    <td><%= link_to 'Show', place %></td>
			    <td><%= link_to 'Edit', edit_place_path(place) %></td>
			    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td> -->

			  </tr>
			<% end %>  
		</table>
		<p >(Number of reviews in brackets)</p>   
		<br/>   

	</div>    		
	<div class="chunkybox">
			<h2>
				<%= image_tag "icons/search.png", :title => "search" %>
				Search sites to add a new review
			</h2>

			<div id="search">
			  <%= render :partial => 'places/search' %>
			</div>

			<!-- <br/><%= link_to "Add new review!", new_review_path %> -->
			</br/>
			<!-- <%= link_to 'New Place', new_place_path %> -->
	</div>

</div>

<div class="grid_6">

	<div class="chunkybox">
		<h2>
			<%= image_tag "icons/new.png", :title => "new" %>
			Recently updated reviews </h2> 

			<table>
				<% @recent_reviews.each do |review| %>
				<tr>
					<td><%= link_to review.place.name, review_path(review.id) %>
						(<%= time_ago_in_words(review.updated_at) %> ago)
						</td>
					<!-- <td><%= "*" * review.rating%><%= review.rating %></td> -->
					<td><%= render_stars(review.rating) %></td>

				  </tr>
				<% end %>  
			</table>

	</div> 
	<div class="chunkybox">
		<h2>
			<%= image_tag "icons/graph_up.png", :title => "people" %>
			Most active reviewers
		</h2>
		<% @reviewers.each do |reviewer| %>	
			<div><%= link_to reviewer.username, user_path(reviewer.id) %> has visited 
				<strong> <%= reviewer.reviews.count%> </strong> places</div>
		<% end %>	
	</div>
</div>

